<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= image_tag movie.photo.url ,:size => "150x100" %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to like_movie_path(movie), method: :put do%>Like <%= movie.get_upvotes.size %><% end %></td>
        <td><%= link_to unlike_movie_path(movie), method: :put do%>Unike <%= movie.get_downvotes.size %><% end %></td>        
      </tr>     
    <% end %>
  </tbody>
</table>

<%= link_to 'New Movie', new_movie_path %>
